@{
    ViewBag.Title = "Home Page";
}

<h3>Report sample RazorPDF</h3>
<ol class="round">
    <li class="one">
        <h5>PDF</h5>
        
            @Html.ActionLink("PDF format","Pdf")
        
    </li>
    <li class="two">
        <h5>HTML</h5>
        
            @Html.ActionLink("HTML format", "Pdf", new  { format = "html"})
        
    </li>

    
</ol>
