<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body { font-family:Muli, Verdana, Arial, sans-serif; }

        .report1 tr { border-bottom:1px solid #fff; }
        .report1 td, th { border-right:1px solid #fff; }
    </style>
</head>
<body>
    
    @RenderBody()
    
</body>
</html>